.section-shoes {
  padding-top: 70px;
  padding-bottom: 70px;
  background-image: url('../../media/svg-1.svg');
  background-repeat: repeat;
  background-position: center;
  background-size: contain;
  background-color: rgb(0, 0, 0);
}
